@font-face {
    font-family: 'Xiao Lai SC';
    src: url('../styles/XiaolaiSC-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  



.container {
  height: 844px;
  max-width:390px;
  max-height: 844px;
  background-color: white;
  padding: 0px;
  margin-top: 0px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25);
  position: relative;
}

.bottom_row{
position: absolute;
width: 390px;
height: 62px;
margin-top: 11px;
left: 0px;
top: 782px;
box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
background-color: white;
}

.logo_row{
  position: relative;
  height: 62px;
  width: 100%;
  margin: auto;
  top: 0px;
  font: 'bunch-blossoms-personal-use';
  font-family: 'Bunch Blossoms Personal Use';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 47px;
  padding: 16px 24px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.rectangle_progress_box{
  position: relative;
  height: 212px;
  width: 357px;
  margin: auto;
  margin-top: 14px;
  background: #C5B6E7;
  border-radius: 20px;
  background-image: url('../content/progress-box-bg.svg')
}

.progress_box_top{
  position: absolute;
  height: 60px;
  width: 357px;
  left: 0px;
  background: #8E78C1;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  z-index: auto;
}

.progress_box_text{
position: absolute;
left: 12px;
top: 5px;
font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 35px;
color: #000000;
}

.progress_box_text2{
position: absolute;
left: 140px;
top: 80px;
font-family: 'Circular Std';
font-style: normal;
font-weight: 450;
font-size: 16px;
line-height: 20px;
color: #000000;
}

.wordslearnt{
color: #C178B1
}

.wordsnotlearnt{
color: #5240BF
}

.unknownwords{
color: #7D66B2
}

.progress_box_text_chinese{
position: absolute;
left: 15px;
top: 35px;
font-family: 'Xiao Lai SC';
font-size: 17px;
line-height: 20px;
color: #000000;
}

.progress_box_button{
position: absolute;
width: 144px;
height: 25px;
left: 106px;
top: 175px;
background: #8E78C1;
border-radius: 17px;

font-family: 'Circular Std';
font-style: normal;
font-weight: 500;
font-size: 15px;
text-align: center;
vertical-align: middle;
line-height: 25px;
}



.wordoftheday_box{
  position: relative;
  height: 465px;
  width: 357px;
  margin: auto;
  margin-top: 14px;
  background: #A5DCDF;
  border-radius: 20px;
  background-image: url('../content/word-of-the-day-bg.svg')
}

.wordoftheday_box_top{
  position: absolute;
  height: 60px;
  width: 357px;
  left: 0px;
  background: #58CDD5;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.wordoftheday_large{
  position: absolute;
  margin-top: 20px;
  left: 20px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  font-size: 300px;
  color: #000000;
}

.wordoftheday_small{
  position: absolute;
  margin-top: 30px;
  left: 69px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  color: #000000;
}

.wordoftheday_meaning{
position: absolute;
margin-left: auto;
left: 179px;
top: 300px;
transform: translate(-50%, -0%);
}


.taptoflip{
  position: absolute;
  width: 140px;
  left: 266px;
  top: 437px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.home-icon{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 32px;
  top: 11px;
}

.search-icon{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 176px;
  top: 11px;
}

.card-icon{
  position: absolute;
  width: 39px;
  height: 39px;
  left: 319px;
  top: 11px;
}


.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-back.is-flipped {
  transform: rotateY(0deg);
}

.flip-card-front.is-flipped {
  transform: rotateY(-180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transition: transform 1s ease;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  transform: rotateY(0deg);
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

/* Search Page CSS */

.word_list{
  position: relative;
  width: 355px;
  height: 650px;
  max_height: 650px;
  margin: auto;
  top: 0px;
}

.search-bar-pad{
  padding: 0px 20px;
}

.search-bar{
  position: relative;
  width: 355px;
  height: 33px;
  margin: auto;
  top: 0px;
  font-family: 'Circular Std', 'Material Icons';
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  background: #D9D9D9;
  border-radius: 16px;
}


.word-box{
  position: relative;
  width: 355px;
  height: 71px;
  top: 0px;
  left: 0px;
  background: #E2F1F3;
  border-radius: 16px;
  padding: 5px 35px;
}


.word-box-chinese{
  float: left;

  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 450;
  font-size: 40px;

  color: #000000;
}

.word-box-english{
  float: right;

  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 450;
  font-size: 40px;

  color: #000000;
}