.container {
  max-width:390px;
  max-height: 844px;
  background-color: white;
  padding: 0px;
  margin-top: 50px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25);
}

.bottom_row{
position: relative;
width: 390px;
height: 62px;
left: 0px;
margin-top: 11px;
background: #F28775;
}

.logo_row{
  position: relative;
  height: 62px;
  width: 100%;
  margin: auto;
  top: 0px;
  background: #F28775;
}

.rectangle_progress_box{
  position: relative;
  height: 212px;
  width: 357px;
  margin: auto;
  margin-top: 14px;
  background: #D9D9D9;
  border-radius: 20px;
}

.progress_box_top{
  position: absolute;
  height: 60px;
  width: 357px;
  left: 0px;
  background: #FCAFA3;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  z-index: auto;
}

.progress_box_text{
position: absolute;
left: 12px;
top: 5px;
font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 35px;
color: #000000;
}

.progress_box_text2{
position: absolute;
left: 140px;
top: 80px;
font-family: 'Circular Std';
font-style: normal;
font-weight: 450;
font-size: 16px;
line-height: 20px;
color: #000000;
}

.progress_box_text_chinese{
position: absolute;
left: 15px;
top: 35px;
font-family: '小賴字體 SC';
font-size: 17px;
line-height: 20px;
color: #000000;
}

.progress_box_button{
position: absolute;
width: 144px;
height: 25px;
left: 106px;
top: 175px;
background: #FCAFA3;
border-radius: 17px;

font-family: 'Circular Std';
font-style: normal;
font-weight: 500;
font-size: 15px;
text-align: center;
vertical-align: middle;
line-height: 25px;
}



.wordoftheday_box{
  position: relative;
  height: 465px;
  width: 357px;
  margin: auto;
  margin-top: 14px;
  background: #D9D9D9;
  border-radius: 20px;
}

.wordoftheday_box_top{
  position: absolute;
  height: 60px;
  width: 357px;
  left: 0px;
  background: #DD7362;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}

.wordoftheday_large{
  position: absolute;
  margin-top: 30px;
  left: 69px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  font-size: 220px;
  color: #000000;
}

.taptoflip{
  position: absolute;
  width: 140px;
  left: 266px;
  top: 437px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}
